:root {
 --font-s: 'Style Script';
 --font-sk: 'Skranji';
 --c-p: #D01760;
 --c-lp: #FFB3D1;
 --c-lv: #F7D5EE;
}

body {
 margin: 0;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}


h1 {
 font-family: var(--font-sk);
 font-size: 4em;
 color: var(--c-lp);
 -webkit-text-stroke: var(--c-p) 2px;
}

p {
 font-family: var(--font-s);
 font-size: 1.5em;
 width: 85%;
 text-align: center;
 word-spacing: 3px;
}

form {
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 margin: 10px;
}

.label {
 text-align: center;
 font-family: var(--font-sk);
 color: var(--c-p);
 font-size: 1.5em;
}

#addItemName1,
#addItemName2 {
 text-align: center;
 width: 25em;
 height: 3em;
 margin: 10px;
 padding: 0 20px;
 border-radius: 3rem;
 border: var(--c-lp) solid;
}

#addItemButton,
#resetButton {
 width: 15em;
 height: 3em;
 margin: 10px;
 border-radius: 3rem;
 border: var(--c-p) solid;
 color: var(--c-lp);
 background-color: var(--c-p);
 font-size: 1em;
}

#resetButton:hover {
 border: var(--c-p) solid 1px;
 color: var(--c-p);
 background-color: var(--c-lp);
}

#addItemButton:hover {
 border: var(--c-p) solid 1px;
 color: var(--c-p);
 background-color: var(--c-lp);
}

#loveResult,
#result {
 font-family: var(--font-s);
 font-size: 1.5em;
 width: 85%;
 text-align: center;
 word-spacing: 3px;
}
